# ------------------- #
# IDE 相关
# ------------------- #
.idea/
*.iml
*.iws

# ------------------- #
# Java / Maven 编译输出
# ------------------- #
**/target/
*.jar
*.war
*.ear
*.class

# ------------------- #
# 前端依赖与产物 (Vite+Vue3)
# ------------------- #
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local
.npm/

# ------------------- #
# 日志与系统文件
# ------------------- #
*.log
logs/
.DS_Store
Thumbs.db

# ------------------- #
# 临时文件
# ------------------- #
tmp/
*.bak
